black
commitizen
fastapi
gunicorn
ipykernel
ipywidgets
jupyterlab
mypy
pre-commit
pydantic
psycopg2-binary
pytest
python-dotenv
rich
tabulate
setuptools
supabase
types-requests
ruff
uvicorn[standard]
wheel
